.ok {
  display: flex;

  flex-direction: column;
}
.head {
  display: flex;
  flex-direction: row;

  height: 100%;
  background-color: blue;
}
.pad_left {
  display: flex;
  flex-direction: row;

  align-items: flex-end;
  padding-left: 400px;
}
.left {
  padding-left: 15px;
}
.black {
  background-color: white;
}
.mySlides {
  display: none;
  height: 600px;
  width: 1370px;
}
.mySlides {
  display: none;
  height: 600px;
  width: 1370px;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.leff {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}
.a {
  padding-left: 570px;
}
.c {
  padding-left: 20px;
}
.b {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 400px;
  background-color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
