<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add product server</title>
</head>
<body>
<h1>ADD PRODUCTS</h1>
<!--  <form action="{% url 'add_products' %} " method="post">-->
<!--      {% csrf_token %}-->
<!--       <label for="ADD CITY"><b>Name</b></label>-->
<!--    <input type="text" placeholder="Product Name" name="name" ><br>-->
<!--       <label for="ADD CITY"><b>Price</b></label>-->
<!--    <input type="number" placeholder="Product Price" name="price" ><br>-->
<!--       <textarea rows="4" cols="50" name="comment" >-->
<!--Enter description here...</textarea><br>-->
<!--  <label for="img">Select image:</label>-->
<!--  <input type="file" id="img" name="img"  ><br>-->
<!--  <button type="submit">Submit</button>-->
<!--</form>-->
 <form method="post" action="add_products" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Upload</button>
  </form>
</body>
</html>