{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static '/Css/style.css'%}" />
    <link rel="stylesheet" href="{% static 'Responsive Css/bootstrap.min.css'%}" />
    <link rel="stylesheet" href="{% static 'css/largescreen.css'%}" />
    <link rel="stylesheet" href="{% static 'css/mediumscreen.css'%}" />
    <link rel="stylesheet" href="{% static 'css/smallscreen.css'%}" />
    <link rel="stylesheet" href="{% static 'css/mobile.css'%}" />
    <link rel="stylesheet" href="{% static 'Izmir-master/izmir.min.css'%}" />
    <title>Final Year Project | Sign Up</title>
  </head>
  <body>
    <header id="header-home">
      <div class="dark-overlay">
           <nav
              style="padding: 0px "
        id="navigation"
        class="navbar navbar-expand-md navbar-dark  fixed-top"
      >
        <div class="container">
          <a href="{% url 'index'%}" class="navbar-brand">
            <span class="text-primary"
              ><i class="fas fa-hand-holding-water"></i> Water</span
            >
            Service's
          </a>

          <button
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#navcollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navcollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="{% url 'index'%}" class="active">Home</a>
              </li>
              <li class="nav-item"><a href="{% url 'user_product'%}">Products</a></li>
             <!--    {%if user.is_authenticated %}-->
            <!--    <li>Hello {{user.first_name}}</li>-->
            <!--    <a href="registration/logout">LOGOUT</a>-->
            <!--    <a href="registration/server_reg">SERVER REGISTRATION</a>-->

            <!--    {% else %}-->

            <!--     {% endif %}-->
            {% if user.is_authenticated %}
            <li>hello {{user}}</li>
            <li><a href="{% url 'logout' %}">LOGOUT</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            <li><a href="{% url 'users_signup' %}">SIGN UP</a></li>
            {% endif %}
              <li class="nav-item"><a href="{% url 'index'%}#about">About</a></li>
              <li class="nav-item"><a href="{% url 'index'%}#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
        </div>

    </header>

    <section id="header-signup" class="py-1">
      <div class="container">
        <h1>
          <i class="fas fa-user-circle fa-3x text-primary"></i>
        </h1>

        <h1 class="s-heading">Sign Up Now</h1>
        <div class="border-bottom"></div>
        <form action="signup" method="POST" class="mt-3">
              {% csrf_token %}
          <label for="name" >First Name</label>
          <div class="signup-input">
            <input type="text" name="first_name" required placeholder="Enter First Name" />
          </div>
          <label for="lastname">Last Name</label>
          <div class="signup-input">
            <input type="text" name="last_name" required placeholder="Enter Last Name" />
          </div>
          <label for="username">User Name</label>
          <div class="signup-input">
            <input type="text" placeholder="Enter User Name" name="username" required/>
          </div>
          <label for="email">Email</label>
          <div class="signup-input">
            <input type="email" name="email" required placeholder="Enter Email" />
          </div>
          <label for="password">Password</label>
          <div class="signup-input">
            <input type="password" placeholder="Enter Password" name="password1" required />
          </div>
          <label for="password">Re-type Password</label>
          <div class="signup-input">
            <input type="password" placeholder="Re-type Password" name="password2" required />
          </div>
          <button type="submit" class="signup-btn">Sign Up</button>
          <a
             href="{% provider_login_url 'google' %}"
            target="_blank"
            class="signup-btn"
          >
            <i class="fab fa-google"></i> Sign up with Google
          </a>
        </form>
       <a href="{% url 'index'%}" class="goback">
          <i class="fas fa-arrow-circle-left"></i> Go Back To Home Page</a
        >
        <a href="{% url 'login'%}" class="goback" style="display: block"
          >Already Have an account? Login Now</a
        >
              {%for message in messages %}
            <h3>  {{message}}</h3>
            {% endfor %}
      </div>

    </section>

    <footer id="footer">
      <p>Water Service Providers &copy; All Rights Reserved | 2021</p>
    </footer>
  </body>
</html>